*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212529;
    color: white; */
}

/* .wrapper {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: black solid 1px;
} */

.logo {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

/* .list-item {
    list-style: none;
    font-size: 1.2rem;    
} */

/* .list-link {
    text-decoration: none;
} */


/* .timer {
    font-size: 100px;
} */

/* .btns {
    display: flex;
    justify-content: center;
} */

/* button {
    font-size: 20px;
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 2px;
    border-radius: 6px;
    background-color: white;
    color: #BA4949;
    font-weight: bold;
    border: none;
    outline: none;
} */