*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    /* color: white; */
}

/* .wrapper {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: black solid 1px;
} */

.nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    padding-top: 14px;
    padding-bottom: 0px;
    margin: 0 auto;
    width: 50%;
    border-bottom: 1px rgba(10, 10, 10, 0.3) solid;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 1.9rem;
    color: black;
    padding: 0 20px;
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.list-item {
    list-style: none;
    padding: 0 24px;
}

.list-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.6);
}

.list-link:hover {
    color: black
    /* text-shadow: 0px 0px 1px black; */
}

.timer {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #1111117f; */
    border-radius: 8px;
    padding: 20px;
}

.select-btns {
    display: flex;
    margin: 14px auto 22px auto;
}

.select-btn {
    /* margin: 0 10px; */
    padding: 5px 20px;
    /* border-radius: 8px; */
    /* color: white; */
    background-color: transparent;
    border: none;
    font-size: 1.15rem;
}

.select-btn:hover {
    border-radius: 8px 8px 0 0;
    background-color: rgba(0, 0, 0, .06);
}

.selected-btn {
    /* background-color: rgba(255, 255, 255, .2); */
        border-bottom: 1px black solid;
}

.cercle-parent {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: red 2px solid; */
}

.cercle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
    /* background-color: #F7FAFF; */
}

.clock {
    font-size: 5rem;
    /* color: black */
}

.control-btns {
    /* border: 1px white solid; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.control-btn {
    width: 20%;
    margin: 20px 5px;
    font-size: 1.3rem;
    border-radius: 50px;
}

/* .btns {
    display: flex;
    justify-content: center;
} */

/* button {
    font-size: 20px;
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 2px;
    border-radius: 6px;
    background-color: white;
    color: #BA4949;
    font-weight: bold;
    border: none;
    outline: none;
} */